# Set to 'aws' for SageMaker/AWS jobs, 'local' for local runs
EXECUTION_ENV='local'
DEPLOYMENT_ENV='dev' # only matters for SageMaker jobs
# Local
LOCAL_DATA_PATH='/Users/your.username/ds-template/data/'
LOCAL_PLOTS_PATH='/Users/your.username/ds-template/plots/'
REPO=ds-template

# MLFlow - Local
LOCAL_MLFLOW_TRACKING_URI=http://127.0.0.1:5000


# Snowflake
SNOWFLAKE_ACCOUNT=YOUR_ACCOUNT_LOCATOR
SNOWFLAKE_USER_LOCAL=YOUR_LOCAL_USERNAME
SNOWFLAKE_USER_DEV=YOUR_SAGEMAKER_DEV_USER
SNOWFLAKE_USER_PROD=YOUR_SAGEMAKER_PROD_USER
SNOWFLAKE_ROLE_LOCAL=YOUR_LOCAL_ROLE
SNOWFLAKE_PRIVATE_KEY_PATH=/path/to/your/snowflake-key/rsa_key.p8
SNOWFLAKE_WAREHOUSE=YOUR_WAREHOUSE
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_DATABASE_LOCAL=DS_LOCAL
SNOWFLAKE_DATABASE_DEV=DS_DEV
SNOWFLAKE_DATABASE_PROD=DS_PROD

# AWS context
AWS_REGION=eu-west-2

# MLflow – SageMaker
MLFLOW_TRACKING_URI=file:/opt/ml/processing/mlruns
MLFLOW_MLRUNS_BUCKET=mlflow-mlruns-YOUR_ACCOUNT_ID
MLFLOW_MLRUNS_PREFIX=mlruns
